@model Plantme.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice.ToString("C2"))
           
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrowingConditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrowingConditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantingInstructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantingInstructions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildFriendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginnerFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginnerFriendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documentation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documentation)
        </dd>
    </dl>
</div>
<script src="https://checkout.stripe.com/checkout.js"
    class = "stripe-button"
    data-key = "pk_test_51Lu0ZtC2OsCGbor9nEOIebsy0jpUeW4OTi2fsEoXOtnR27dnWlI4lsvYwBfSUD96yP7omxP1aL7uvpvhxfbOpzZU00RFofLyz6"
    data-name ="Payment PlantMe"
    data-description = "@Model.ProductName - @Model.ProductPrice"
    data-locale="en"
    data-label="Pay Now"
    >
       


</script>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
